In [2]:
import numpy as np
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import scipy.stats as st
from scipy.stats import rankdata
import os
import datetime

In [3]:
def get_daily_ohlcv(tickers,years=23):
    outo=list()
    outh=list()
    outl=list()
    outc=list()
    outv=list()
    outdf=list()
    months=str(years*12)
    for ticker in tickers:
        try:
            tick = yf.Ticker(ticker)
            df=tick.history(period=months+"mo")
            df=df.reset_index()
            df.dropna(inplace=True)
            df['Symbol']=ticker
            del df['Dividends']
            del df['Stock Splits']
            df.to_csv('Data_800stocks/{}.csv'.format(ticker),index=False)
            outdf.append(df)
        except Exception as e:
            print(e)
            continue
    return outdf

In [4]:
data=pd.read_excel("ticker2.xlsx")

In [5]:
unique_ticker = [str(i) for i in list(data['Ticker'].unique())]

In [6]:
unique_ticker = pd.DataFrame(unique_ticker,columns=['Ticker'])
unique_ticker

                  Ticker
0        MROTK IN Equity
1        BLSTR IN Equity
2          ITC IN Equity
3         LIIL IN Equity
4         NCRL IN Equity
...                  ...
1573  UJJIVANS IN Equity
1574      AACL IN Equity
1575     PSPPL IN Equity
1576   SWSOLAR IN Equity
1577       PLM IN Equity

[1578 rows x 1 columns]

In [7]:
data1=pd.read_excel("ISIN_final.xlsx")

In [8]:
df=pd.merge(unique_ticker, data1[["Ticker","Symbol"]], on="Ticker")

In [9]:
df1=df["Symbol"].tolist()
df2=[tick+'.NS' for tick in df1]
df2

['MRO-TEK.NS',
 'BLUESTARCO.NS',
 'ITC.NS',
 'LINDEINDIA.NS',
 'CUMMINSIND.NS',
 'INDHOTEL.NS',
 'ATFL.NS',
 'BALMLAWRIE.NS',
 'INDIANCARD.NS',
 'GILLETTE.NS',
 'EVEREADY.NS',
 'TATACOFFEE.NS',
 'RUCHI.NS',
 'BLUEDART.NS',
 'M&M.NS',
 'FOSECOIND.NS',
 'INGERRAND.NS',
 'GODREJCP.NS',
 'ZENSARTECH.NS',
 'ACCELYA.NS',
 'KOTHARIPRO.NS',
 'SINTEX.NS',
 'SREINFRA.NS',
 'SEAMECLTD.NS',
 'JBCHEPHARM.NS',
 'BSL.NS',
 'SAKHTISUG.NS',
 'ARCHIES.NS',
 'ZODIACLOTH.NS',
 'JAYSREETEA.NS',
 'SESHAPAPER.NS',
 'BSOFT.NS',
 '3MINDIA.NS',
 'BIRLACABLE.NS',
 'NRBBEARING.NS',
 'KSB.NS',
 'KAJARIACER.NS',
 'KAKATCEM.NS',
 'BATAINDIA.NS',
 'BAJFINANCE.NS',
 'BRITANNIA.NS',
 'LT.NS',
 'SBIN.NS',
 'TIPSINDLTD.NS',
 'HINDALCO.NS',
 'PNBGILTS.NS',
 'NXTDIGITAL.NS',
 'TATAMOTORS.NS',
 'CENTURYTEX.NS',
 'BAJAJHLDNG.NS',
 'CANFINHOME.NS',
 'GESHIP.NS',
 'GRAPHITE.NS',
 'INDIACEM.NS',
 'EIHOTEL.NS',
 'BIRLACORPN.NS',
 'RAYMOND.NS',
 'CEATLTD.NS',
 'MRF.NS',
 'SCI.NS',
 'NLCINDIA.NS',
 'HCC.NS',
 'DABUR.NS',
 'LICHSGFIN.NS',
 'ABB.NS',
 'SHREECEM.NS',
 'SIEMENS.NS',
 'AUROPHARMA.NS',
 'CHAMBLFERT.NS',
 'TATACONSUM.NS',
 'MRPL.NS',
 'SUNDARMFIN.NS',
 'HINDPETRO.NS',
 'BPCL.NS',
 'COLPAL.NS',
 'BEL.NS',
 'CREATIVEYE.NS',
 'MCDOWELL-N.NS',
 'MTNL.NS',
 'SHYAMTEL.NS',
 'TATACOMM.NS',
 'IDBI.NS',
 'SANDESH.NS',
 'CHENNPETRO.NS',
 'DICIND.NS',
 'AMBUJACEM.NS',
 'CLNINDIA.NS',
 'TRENT.NS',
 'PVP.NS',
 'ACC.NS',
 'ZEEL.NS',
 'TITAN.NS',
 'HDFCBANK.NS',
 'BHARATFORG.NS',
 'BHEL.NS',
 'CGPOWER.NS',
 'COROMANDEL.NS',
 'SUNCLAYLTD.NS',
 'RELINFRA.NS',
 'APOLLOTYRE.NS',
 'TATAPOWER.NS',
 'MANALIPETC.NS',
 'ONGC.NS',
 'SUPREMEIND.NS',
 'SURYAROSNI.NS',
 'MUKTAARTS.NS',
 'LUMAXIND.NS',
 'SWARAJENG.NS',
 'DCMSHRIRAM.NS',
 'DCW.NS',
 'DALMIASUG.NS',
 'RAMCOIND.NS',
 'NATIONALUM.NS',
 'BANKINDIA.NS',
 'MAHSEAMLES.NS',
 'PIDILITIND.NS',
 'TATACHEM.NS',
 'JINDALSAW.NS',
 'VEDL.NS',
 'SAIL.NS',
 'SRF.NS',
 'HONAUT.NS',
 'VOLTAS.NS',
 'DRREDDY.NS',
 'HEROMOTOCO.NS',
 'HINDUNILVR.NS',
 'GLAXO.NS',
 'AJANTPHARM.NS',
 'GMDCLTD.NS',
 'TNPETRO.NS',
 'LUPIN.NS',
 'TNTELE.NS',
 'TATAELXSI.NS',
 'RCF.NS',
 'RELCAPITAL.NS',
 'KIRLOSIND.NS',
 'LAXMIMACH.NS',
 'HEG.NS',
 'CONCOR.NS',
 'ALOKINDS.NS',
 'KCP.NS',
 'THOMASCOOK.NS',
 'MARALOVER.NS',
 'PGHL.NS',
 'CYBERTECH.NS',
 'EIDPARRY.NS',
 'ESABINDIA.NS',
 'IOB.NS',
 'EICHERMOT.NS',
 'STLTECH.NS',
 'ELGIEQUIP.NS',
 'TTML.NS',
 'SUNDRMBRAK.NS',
 'WHEELS.NS',
 'ANDHRSUGAR.NS',
 'ESCORTS.NS',
 'INDRAMEDCO.NS',
 'PATSPINLTD.NS',
 'EVERESTIND.NS',
 'SCHAEFFLER.NS',
 'APOLLOHOSP.NS',
 'USHAMART.NS',
 'UTTAMSTL.NS',
 'VIPIND.NS',
 'FINCABLES.NS',
 'DIGJAMLMTD.NS',
 'BANKBARODA.NS',
 'TRIGYN.NS',
 'VSTIND.NS',
 'UFLEX.NS',
 'CUB.NS',
 'HERITGFOOD.NS',
 'NAHARPOLY.NS',
 'NAHARSPING.NS',
 'VESUVIUS.NS',
 'VINDHYATEL.NS',
 'SHREERAMA.NS',
 'NAVNETEDUL.NS',
 'GAIL.NS',
 'WSTCSTPAPR.NS',
 'GODFRYPHLP.NS',
 'FMGOETZE.NS',
 'ARVIND.NS',
 'ENGINERSIN.NS',
 'NILKAMAL.NS',
 'SUPPETRO.NS',
 'INEOSSTYRO.NS',
 'ZUARIGLOB.NS',
 'ABAN.NS',
 'SMARTLINK.NS',
 'ADORWELD.NS',
 'MAHLIFE.NS',
 'TAJGVK.NS',
 'AXISBANK.NS',
 'GFLLIMITED.NS',
 'GRASIM.NS',
 'GIPCL.NS',
 'MIRZAINT.NS',
 'SABTN.NS',
 'AMARAJABAT.NS',
 'TFCILTD.NS',
 'GNFC.NS',
 'TORNTPHARM.NS',
 'PFIZER.NS',
 'HIMATSEIDE.NS',
 'SAREGAMA.NS',
 'HCL-INSYS.NS',
 'BEML.NS',
 'HARRMALAYA.NS',
 'RELIANCE.NS',
 'PNC.NS',
 'ASAHIINDIA.NS',
 'CENTENKA.NS',
 'ASIANHOTNR.NS',
 'AMJLAND.NS',
 'ASTRAZEN.NS',
 'J&KBANK.NS',
 'HINDMOTORS.NS',
 'HINDOILEXP.NS',
 'ATUL.NS',
 'AKSHOPTFBR.NS',
 'TNPL.NS',
 'BASF.NS',
 'SANOFI.NS',
 'RSWM.NS',
 'HLVLTD.NS',
 'HCLTECH.NS',
 'CINEVISTA.NS',
 'AKZOINDIA.NS',
 'RALLIS.NS',
 'CARBORUNIV.NS',
 'PEL.NS',
 'GUJALKALI.NS',
 'ADANIENT.NS',
 'SUNPHARMA.NS',
 'PANACEABIO.NS',
 'BERGEPAINT.NS',
 'SPIC.NS',
 'MIRCELECTR.NS',
 'MARICO.NS',
 'ITDCEM.NS',
 'UCALFUEL.NS',
 'INDUSINDBK.NS',
 'ITI.NS',
 'GHCL.NS',
 'TVSMOTOR.NS',
 'ALEMBICLTD.NS',
 'RAMCOSYS.NS',
 'UNICHEMLAB.NS',
 'SIL.NS',
 'SOUTHBANK.NS',
 'EPL.NS',
 'KTKBANK.NS',
 'CHOLAFIN.NS',
 'MOREPENLAB.NS',
 'EXCELINDUS.NS',
 'MADRASFERT.NS',
 'TATAINVEST.NS',
 'JKLAKSHMI.NS',
 'GSFC.NS',
 'MUKANDLTD.NS',
 'FINPIPE.NS',
 'INDNIPPON.NS',
 'HEIDELBERG.NS',
 'EXIDEIND.NS',
 'ASIANPAINT.NS',
 'CASTROLIND.NS',
 'NIITLTD.NS',
 'COSMOFILMS.NS',
 'IOC.NS',
 'THERMAX.NS',
 'FDC.NS',
 'WOCKPHARMA.NS',
 'PGHH.NS',
 'JINDALSTEL.NS',
 'HFCL.NS',
 'SHANTIGEAR.NS',
 'GEPIL.NS',
 'ASHOKLEY.NS',
 'NOCIL.NS',
 'SONATSOFTW.NS',
 'RSSOFTWARE.NS',
 'BALRAMCHIN.NS',
 'SKFINDIA.NS',
 'CHOLAHLDNG.NS',
 'WIPRO.NS',
 'HINDZINC.NS',
 'INFY.NS',
 'MASTEK.NS',
 'BPL.NS',
 'RAMCOCEM.NS',
 'ELECTCAST.NS',
 'IFCI.NS',
 'INFOMEDIA.NS',
 'VENKEYS.NS',
 'SUNDRMFAST.NS',
 'BBOX.NS',
 'GTL.NS',
 'ICICIBANK.NS',
 'HDFC.NS',
 'BINDALAGRO.NS',
 'KOTAKBANK.NS',
 'MOTHERSUMI.NS',
 'DHAMPURSUG.NS',
 'MPHASIS.NS',
 'CRISIL.NS',
 'HAVELLS.NS',
 'GLENMARK.NS',
 'CIPLA.NS',
 'TIRUMALCHM.NS',
 'BOSCHLTD.NS',
 'KANSAINER.NS',
 'CESC.NS',
 'NEXTMEDIA.NS',
 'ORCHPHARMA.NS',
 'KESORAMIND.NS',
 'BOMDYEING.NS',
 'MFSL.NS',
 'ORIENTHOT.NS',
 'CYIENT.NS',
 'KARURVYSYA.NS',
 'FEDERALBNK.NS',
 'BALAJITELE.NS',
 'TATASTEEL.NS',
 'PRSMJOHNSN.NS',
 'VTL.NS',
 'MUNJALSHOW.NS',
 'MPSLTD.NS',
 'INDORAMA.NS',
 'BANARISUG.NS',
 'OFSS.NS',
 'BIOCON.NS',
 'BHARTIARTL.NS',
 'TCS.NS',
 'TATASTLLP.NS',
 'JISLJALEQS.NS',
 'APTECHT.NS',
 'RAMANEWS.NS',
 'HIKAL.NS',
 'STCINDIA.NS',
 'UPL.NS',
 'SURYALAXMI.NS',
 'GODREJIND.NS',
 'FEL.NS',
 'NCC.NS',
 'JTEKTINDIA.NS',
 'MARUTI.NS',
 'REGENCERAM.NS',
 'TATASTLBSL.NS',
 'JSWSTEEL.NS',
 'UNIONBANK.NS',
 'SMLISUZU.NS',
 'NBVENTURES.NS',
 'WELSPUNIND.NS',
 'DEEPAKFERT.NS',
 'SRTRANSFIN.NS',
 'CANBK.NS',
 'AUTOAXLES.NS',
 'DIVISLAB.NS',
 'PRAJIND.NS',
 'JSWISPL.NS',
 'NDTV.NS',
 'FACT.NS',
 'DREDGECORP.NS',
 'VARDMNPOLY.NS',
 'VHL.NS',
 'WELCORP.NS',
 'NELCO.NS',
 'VISAKAIND.NS',
 'UCOBANK.NS',
 'JINDALPOLY.NS',
 'OMAXAUTO.NS',
 'RICOAUTO.NS',
 'TVTODAY.NS',
 'GAEL.NS',
 'MUNJALAU.NS',
 'LGBBROSLTD.NS',
 'HUHTAMAKI.NS',
 'PNB.NS',
 'IGL.NS',
 'STAR.NS',
 'TRIDENT.NS',
 'PETRONET.NS',
 'TATAMETALI.NS',
 'CONSOFINVT.NS',
 'BEPL.NS',
 'GDL.NS',
 'JUBLPHARMA.NS',
 'JSL.NS',
 'DWARKESH.NS',
 'AARTIIND.NS',
 'NTPC.NS',
 'ULTRACEMCO.NS',
 'RAJESHEXPO.NS',
 'HSIL.NS',
 '63MOONS.NS',
 'RIIL.NS',
 'ONWARDTEC.NS',
 'KOPRAN.NS',
 'JPASSOCIAT.NS',
 'MAHSCOOTER.NS',
 'PARSVNATH.NS',
 'JAGSNPHARM.NS',
 'BAJAJHIND.NS',
 'ORIENTPPR.NS',
 'HONDAPOWER.NS',
 'TRIVENI.NS',
 'NOIDATOLL.NS',
 'GOKEX.NS',
 'INDIAGLYCO.NS',
 'PFC.NS',
 'GREAVESCOT.NS',
 'SUNTV.NS',
 'BLKASHYAP.NS',
 'KIRLOSBROS.NS',
 'UTTAMSUGAR.NS',
 'ANSALAPI.NS',
 'PATELENG.NS',
 'HUBTOWN.NS',
 'SOBHA.NS',
 'KALPATPOWR.NS',
 'DONEAR.NS',
 'GMRINFRA.NS',
 'HTMEDIA.NS',
 'JMFINANCIL.NS',
 'AJMERA.NS',
 'ENIL.NS',
 'IDEA.NS',
 'DLF.NS',
 'INDSWFTLAB.NS',
 'IIFL.NS',
 'GEOJITFSL.NS',
 'JAGRAN.NS',
 'RENUKA.NS',
 'RADICO.NS',
 'SHOPERSTOP.NS',
 'ALLCARGO.NS',
 'TV18BRDCST.NS',
 'SIMPLEXINF.NS',
 'INOXLEISUR.NS',
 'MERCATOR.NS',
 'FSL.NS',
 'GTLINFRA.NS',
 'TECHM.NS',
 'MINDTREE.NS',
 'IDFC.NS',
 'SUZLON.NS',
 'M&MFIN.NS',
 'RCOM.NS',
 'IBREALEST.NS',
 'BAJAJFINSV.NS',
 'NMDC.NS',
 'OMAXE.NS',
 'PGIL.NS',
 'POWERGRID.NS',
 'RPOWER.NS',
 'ANANTRAJ.NS',
 'NAUKRI.NS',
 'ADANIPORTS.NS',
 'BAJAJ-AUTO.NS',
 'EDELWEISS.NS',
 'FORTIS.NS',
 'RECLTD.NS',
 'RELIGARE.NS',
 'SITINET.NS',
 'CENTURYPLY.NS',
 'NFL.NS',
 'DYNAMATECH.NS',
 'TORNTPOWER.NS',
 'PTC.NS',
 'IRB.NS',
 'PHOENIXLTD.NS',
 'GET&D.NS',
 'V2RETAIL.NS',
 'UBL.NS',
 'PURVA.NS',
 'EKC.NS',
 'GSPL.NS',
 'REDINGTON.NS',
 'KEC.NS',
 'MOTILALOFS.NS',
 'DHANI.NS',
 'YESBANK.NS',
 'JSWHL.NS',
 'JPINFRATEC.NS',
 'JSWENERGY.NS',
 'OIL.NS',
 '3IINFOLTD.NS',
 'BRIGADE.NS',
 'TINPLATE.NS',
 'DBREALTY.NS',
 'NHPC.NS',
 'ADANIPOWER.NS',
 'JUBLFOOD.NS',
 'SUNTECK.NS',
 'AJRINFRA.NS',
 'ZYDUSWELL.NS',
 'INDIANB.NS',
 'BGRENERGY.NS',
 'EMAMILTD.NS',
 'DHANBANK.NS',
 'COALINDIA.NS',
 'PRESTIGE.NS',
 'DCBBANK.NS',
 'CENTRALBK.NS',
 'GPPL.NS',
 'GODREJPROP.NS',
 'JKTYRE.NS',
 'AIAENG.NS',
 'JAIBALAJI.NS',
 'SADBHAV.NS',
 'NETWORK18.NS',
 'OBEROIRLTY.NS',
 'NTL.NS',
 'DELTACORP.NS',
 'FCONSUMER.NS',
 'PERSISTENT.NS',
 'HATHWAY.NS',
 'PAGEIND.NS',
 'ORISSAMINE.NS',
 'ARSSINFRA.NS',
 'DISHTV.NS',
 'RTNPOWER.NS',
 'ECLERX.NS',
 'ADSL.NS',
 'BAJAJELEC.NS',
 'PRAKASH.NS',
 'BBTC.NS',
 'MUTHOOTFIN.NS',
 'PAISALO.NS',
 'RAMKY.NS',
 'GATI.NS',
 'MANGCHEFER.NS',
 'LOVABLE.NS',
 'BALKRISIND.NS',
 'JKIL.NS',
 'TDPOWERSYS.NS',
 'TREEHOUSE.NS',
 'VAKRANGEE.NS',
 'AUTOIND.NS',
 'FLEXITUFF.NS',
 'SHRIRAMCIT.NS',
 'SUPREMEINF.NS',
 'MANINFRA.NS',
 'ICRA.NS',
 'TTKPRESTIG.NS',
 'JBFIND.NS',
 'PFOCUS.NS',
 'EROSMEDIA.NS',
 'L&TFH.NS',
 'MHRIL.NS',
 'MOIL.NS',
 'KKCL.NS',
 'KOLTEPATIL.NS',
 'GABRIEL.NS',
 'MMTC.NS',
 'HINDCOPPER.NS',
 'TBZ.NS',
 'WHIRLPOOL.NS',
 'DBCORP.NS',
 'COFORGE.NS',
 'PVR.NS',
 'POONAWALLA.NS',
 'INDUSTOWER.NS',
 'WABCOINDIA.NS',
 'SWANENERGY.NS',
 'IMFA.NS',
 'MANINDS.NS',
 'KSCL.NS',
 'DEN.NS',
 'RAJTV.NS',
 'PFS.NS',
 'APLLTD.NS',
 'NBCC.NS',
 'KITEX.NS',
 'JYOTHYLAB.NS',
 'PIIND.NS',
 'SPARC.NS',
 'ASTRAL.NS',
 'REPCOHOME.NS',
 'VAIBHAVGBL.NS',
 'JUSTDIAL.NS',
 'CARERATING.NS',
 'APARINDS.NS',
 'TI.NS',
 'BAJAJCON.NS',
 'RAIN.NS',
 'IBULHSGFIN.NS',
 'ASHOKA.NS',
 'WABAG.NS',
 'RATNAMANI.NS',
 'SYMPHONY.NS',
 'VINATIORGA.NS',
 'NATCOPHARM.NS',
 'MARKSANS.NS',
 'PNCINFRA.NS',
 'KPRMILL.NS',
 'GAYAPROJ.NS',
 'FLFL.NS',
 'JKCEMENT.NS',
 'KNRCON.NS',
 'SUVEN.NS',
 'LAOPALA.NS',
 'MBLINFRA.NS',
 'KRBL.NS',
 'SRIPIPES.NS',
 'CAMLINFINE.NS',
 'GULFOILLUB.NS',
 'MAYURUNIQ.NS',
 'VRLLOG.NS',
 'INOXWIND.NS',
 'VIVIDHA.NS',
 'PENIND.NS',
 'ORIENTCEM.NS',
 'ICIL.NS',
 'JCHAC.NS',
 'BLISSGVS.NS',
 'TVSSRICHAK.NS',
 'CERA.NS',
 'TIMKEN.NS',
 'SHARDACROP.NS',
 'SNOWMAN.NS',
 'HMVL.NS',
 'WONDERLA.NS',
 'IGARASHI.NS',
 'NAVKARCORP.NS',
 'SCHNEIDER.NS',
 'SOMANYCERA.NS',
 'SJVN.NS',
 'SECURKLOUD.NS',
 'GRINDWELL.NS',
 'GUJGASLTD.NS',
 'TRITURBINE.NS',
 'RELAXO.NS',
 'CROMPTON.NS',
 'TIDEWATER.NS',
 'APLAPOLLO.NS',
 'ALKEM.NS',
 'ZEELEARN.NS',
 'SYNGENE.NS',
 'COFFEEDAY.NS',
 'ANDHRAPAP.NS',
 'TATAMTRDVR.NS',
 'GRANULES.NS',
 'SOLARINDS.NS',
 'PCJEWELLER.NS',
 'TAKE.NS',
 'AEGISCHEM.NS',
 'SHILPAMED.NS',
 'VGUARD.NS',
 'AHLUCONT.NS',
 'INDOCO.NS',
 'MAHINDCIE.NS',
 'INDIGO.NS',
 'CAPLIPOINT.NS',
 'SHK.NS',
 'ADANITRANS.NS',
 'SEQUENT.NS',
 'EQUITAS.NS',
 'GREENPLY.NS',
 'INTELLECT.NS',
 'DHANUKA.NS',
 'TEXRAIL.NS',
 'ABFRL.NS',
 'INFIBEAM.NS',
 'MANAPPURAM.NS',
 'RKFORGE.NS',
 'AVANTIFEED.NS',
 'CCL.NS',
 'IDFCFIRSTB.NS',
 'SUPRAJIT.NS',
 'NAVINFLUOR.NS',
 'NH.NS',
 'LALPATHLAB.NS',
 'SUDARSCHEM.NS',
 'ENDURANCE.NS',
 'SFL.NS',
 'PARAGMILK.NS',
 'MGL.NS',
 'DMART.NS',
 'TIMETECHNO.NS',
 'PNBHOUSING.NS',
 'MINDACORP.NS',
 'ADVENZYMES.NS',
 'BSE.NS',
 'LAURUSLABS.NS',
 'RUPA.NS',
 'DBL.NS',
 'QUESS.NS',
 'AUBANK.NS',
 'STARCEMENT.NS',
 'JSLHISAR.NS',
 'LTTS.NS',
 'IFBIND.NS',
 'THYROCARE.NS',
 'LTI.NS',
 'RBLBANK.NS',
 'UJJIVAN.NS',
 'ITDC.NS',
 'HUDCO.NS',
 'ICICIPRULI.NS',
 'VBL.NS',
 'MINDAIND.NS',
 'SBILIFE.NS',
 'GALAXYSURF.NS',
 'ABCAPITAL.NS',
 'TEAMLEASE.NS',
 'ERIS.NS',
 'LEMONTREE.NS',
 'NAM-INDIA.NS',
 'HATSUN.NS',
 'HSCL.NS',
 'HAL.NS',
 'BDL.NS',
 'BANDHANBNK.NS',
 'KIOCL.NS',
 'CDSL.NS',
 'DCAL.NS',
 'SPTL.NS',
 'COCHINSHIP.NS',
 'IEX.NS',
 'ICICIGI.NS',
 'DIXON.NS',
 'RHFL.NS',
 'TIINDIA.NS',
 'VARROC.NS',
 'FRETAIL.NS',
 'MAHLOG.NS',
 'SIS.NS',
 'VMART.NS',
 'GICRE.NS',
 'LUXIND.NS',
 'ADANIGREEN.NS',
 'HDFCLIFE.NS',
 'SADBHIN.NS',
 'RITES.NS',
 'GODREJAGRO.NS',
 'ISEC.NS',
 'ASTERDM.NS',
 'NIACL.NS',
 'NESCO.NS',
 'MASFIN.NS',
 'SHANKARA.NS',
 'TASTYBITE.NS',
 'ATGL.NS',
 'MIDHANI.NS',
 'DEEPAKNTR.NS',
 'MCX.NS',
 'RVNL.NS',
 'FINEORG.NS',
 'ABBOTINDIA.NS',
 'NESTLEIND.NS',
 'ORIENTELEC.NS',
 'RHIM.NS',
 'CGCL.NS',
 'KPITTECH.NS',
 'GARFIBRES.NS',
 'TCIEXP.NS',
 'MAHABANK.NS',
 'TCNSBRANDS.NS',
 'INDOSTAR.NS',
 'HDFCAMC.NS',
 'KENNAMET.NS',
 'AMBER.NS',
 'CHALET.NS',
 'JKPAPER.NS',
 'CREDITACC.NS',
 'AFFLE.NS',
 'AAVAS.NS',
 'YAARI.NS',
 'METROPOLIS.NS',
 'INDIAMART.NS',
 'RESPONIND.NS',
 'POLYCAB.NS',
 'KIRLOSENG.NS',
 'BAYERCROP.NS',
 'SPANDANA.NS',
 'DALBHARAT.NS',
 'TECHNOE.NS',
 'SPICEJET.NS',
 'WESTLIFE.NS',
 'JAMNAAUTO.NS',
 'IRCON.NS',
 'KEI.NS',
 'ARVINDFASN.NS',
 'IOLCP.NS',
 'SUMICHEM.NS',
 'IRCTC.NS',
 'POWERINDIA.NS',
 'AARTIDRUGS.NS',
 'SUVENPHAR.NS',
 'SBICARD.NS',
 'GMMPFAUDLR.NS',
 'GRSE.NS',
 'FLUOROCHEM.NS',
 'BHARATRAS.NS',
 'SOLARA.NS',
 'CSBBANK.NS',
 'POLYPLEX.NS',
 'IIFLWAM.NS',
 'UJJIVANSFB.NS',
 'ALKYLAMINE.NS',
 'PSPPROJECT.NS',
 'SWSOLAR.NS',
 'POLYMED.NS']

In [9]:
%%time
df3=get_daily_ohlcv(df2)
df3

- GDL.NS: No data found, symbol may be delisted
'Dividends'
Wall time: 11min 9s

[           Date       Open       High        Low      Close  Volume  \
 0    2002-08-12  12.465753  12.465753  12.248326  12.320802   21196
 1    2002-08-13  12.212089  12.538227  12.212089  12.320802   10678
 2    2002-08-14  12.248325  12.357037  12.103375  12.175849   11222
 3    2002-08-15  12.175849  12.175849  12.175849  12.175849       0
 4    2002-08-16  12.393276  12.393276  11.958424  12.030900   14615
 ...         ...        ...        ...        ...        ...     ...
 4874 2022-03-30  53.000000  53.950001  50.799999  52.549999    5985
 4875 2022-03-31  51.250000  52.799999  50.000000  50.400002    5710
 4876 2022-04-01  52.450001  53.950001  50.000000  51.250000   13364
 4877 2022-04-04  52.900002  56.349998  52.849998  56.349998   25896
 4878 2022-04-05  59.000000  59.000000  52.950001  53.450001   18975

           Symbol
 0     MRO-TEK.NS
 1     MRO-TEK.NS
 2     MRO-TEK.NS
 3     MRO-TEK.NS
 4     MRO-TEK.NS
 ...          ...
 4874  MRO-TEK.NS
 4875  MRO-TEK.NS
 4876  MRO-TEK.NS
 4877  MRO-TEK.NS
 4878  MRO-TEK.NS

 [4879 rows x 7 columns],
            Date         Open         High          Low        Close  Volume  \
 0    2002-07-01     9.605068     9.605068     9.056207     9.097372   28220
 1    2002-07-02     9.316918     9.316918     9.008184     9.049348   32725
 2    2002-07-03     9.454134     9.454134     9.056210     9.186564   20810
 3    2002-07-04     9.227729     9.316919     9.138539     9.227729   16990
 4    2002-07-05     9.193423     9.330639     9.124816     9.220866   23525
 ...         ...          ...          ...          ...          ...     ...
 4906 2022-03-30  1048.000000  1067.800049  1036.000000  1051.650024   84428
 4907 2022-03-31  1051.650024  1065.000000  1045.500000  1052.050049   85042
 4908 2022-04-01  1052.050049  1099.750000  1052.000000  1091.750000  206233
 4909 2022-04-04  1100.000000  1120.000000  1090.400024  1098.699951  136898
 4910 2022-04-05  1105.000000  1145.000000  1097.000000  1132.300049  238201

              Symbol
 0     BLUESTARCO.NS
 1     BLUESTARCO.NS
 2     BLUESTARCO.NS
 3     BLUESTARCO.NS
 4     BLUESTARCO.NS
 ...             ...
 4906  BLUESTARCO.NS
 4907  BLUESTARCO.NS
 4908  BLUESTARCO.NS
 4909  BLUESTARCO.NS
 4910  BLUESTARCO.NS

 [4911 rows x 7 columns],
            Date        Open        High         Low       Close     Volume  \
 0    1999-04-05   12.733828   12.870962   12.188092   12.314032   67427685
 1    1999-04-06   12.342018   13.299154   12.258058   13.299154  142788015
 2    1999-04-07   13.223593   13.629395   13.076664   13.224992  125885250
 3    1999-04-08   13.265570   13.409001   13.108847   13.279564   47118330
 4    1999-04-09   13.307548   13.363520   12.887751   13.085056   75223485
 ...         ...         ...         ...         ...         ...        ...
 5750 2022-03-30  255.100006  256.399994  248.649994  249.199997   17603827
 5751 2022-03-31  249.600006  254.350006  249.500000  250.649994   25656796
 5752 2022-04-01  250.000000  255.350006  248.800003  253.300003   14305709
 5753 2022-04-04  253.100006  257.899994  251.100006  255.449997   15907398
 5754 2022-04-05  256.049988  261.850006  255.100006  259.450012   27171050

       Symbol
 0     ITC.NS
 1     ITC.NS
 2     ITC.NS
 3     ITC.NS
 4     ITC.NS
 ...      ...
 5750  ITC.NS
 5751  ITC.NS
 5752  ITC.NS
 5753  ITC.NS
 5754  ITC.NS

 [5755 rows x 7 columns],
            Date         Open         High          Low        Close  Volume  \
 0    2000-06-22    10.945510    10.945510    10.945510    10.945510       0
 1    2000-07-26    10.103549    10.103549    10.103549    10.103549       0
 2    2000-08-15     9.486108     9.486108     9.486108     9.486108       0
 3    2000-09-01    11.408590    11.408590    11.408590    11.408590       0
 4    2000-10-02     9.682568     9.682568     9.682568     9.682568       0
 ...         ...          ...          ...          ...          ...     ...
 4938 2022-03-30  3598.500000  3748.000000  3553.500000  3696.250000  171341
 4939 2022-03-31  3732.199951  3810.000000  3633.000000  3784.899902  303522
 4940 2022-04-01  3784.000000  3880.000000  3756.699951  3857.300049  216840
 4941 2022-04-04  3857.300049  3898.699951  3808.199951  3862.949951  126748
 4942 2022-04-05  3855.949951  3974.000000  3718.000000  3736.300049  257593

              Symbol
 0     LINDEINDIA.NS
 1     LINDEINDIA.NS
 2     LINDEINDIA.NS
 3     LINDEINDIA.NS
 4     LINDEINDIA.NS
 ...             ...
 4938  LINDEINDIA.NS
 4939  LINDEINDIA.NS
 4940  LINDEINDIA.NS
 4941  LINDEINDIA.NS
 4942  LINDEINDIA.NS

 [4943 rows x 7 columns],
            Date         Open         High          Low        Close   Volume  \
 0    2002-07-01    24.240066    24.657999    24.031100    24.093790    66063
 1    2002-07-02    24.114682    24.344544    23.822129    24.031094    82525
 2    2002-07-03    24.219175    24.449037    23.863932    23.968416    71071
 3    2002-07-04    24.240065    25.410276    24.031099    24.783379   282322
 4    2002-07-05    25.284902    25.765522    24.783383    24.971451   346508
 ...         ...          ...          ...          ...          ...      ...
 4906 2022-03-30  1128.449951  1132.550049  1100.150024  1107.800049  1031415
 4907 2022-03-31  1107.500000  1133.900024  1084.000000  1121.300049  1307804
 4908 2022-04-01  1124.000000  1143.000000  1109.000000  1136.699951   572374
 4909 2022-04-04  1140.000000  1149.849976  1119.000000  1128.250000   713929
 4910 2022-04-05  1122.099976  1143.750000  1122.099976  1126.849976   674144

              Symbol
 0     CUMMINSIND.NS
 1     CUMMINSIND.NS
 2     CUMMINSIND.NS
 3     CUMMINSIND.NS
 4     CUMMINSIND.NS
 ...             ...
 4906  CUMMINSIND.NS
 4907  CUMMINSIND.NS
 4908  CUMMINSIND.NS
 4909  CUMMINSIND.NS
 4910  CUMMINSIND.NS

 [4911 rows x 7 columns],
            Date        Open        High         Low       Close   Volume  \
 0    2002-07-01   12.839157   13.148534   12.607124   12.638062   130797
 1    2002-07-02   12.653530   12.839157   12.537514   12.599389   155586
 2    2002-07-03   12.916501   12.916501   12.568451   12.622593   159476
 3    2002-07-04   12.684467   12.684467   12.529778   12.583920   409562
 4    2002-07-05   12.552981   12.831420   12.552981   12.607122   276756
 ...         ...         ...         ...         ...         ...      ...
 4909 2022-03-30  242.100006  245.500000  239.000000  241.250000  8982640
 4910 2022-03-31  241.000000  244.000000  236.149994  238.500000  8018143
 4911 2022-04-01  238.699997  243.000000  237.649994  240.600006  5583031
 4912 2022-04-04  242.699997  244.000000  238.500000  239.100006  6636982
 4913 2022-04-05  241.399994  241.399994  234.100006  235.600006  7284909

            Symbol
 0     INDHOTEL.NS
 1     INDHOTEL.NS
 2     INDHOTEL.NS
 3     INDHOTEL.NS
 4     INDHOTEL.NS
 ...           ...
 4909  INDHOTEL.NS
 4910  INDHOTEL.NS
 4911  INDHOTEL.NS
 4912  INDHOTEL.NS
 4913  INDHOTEL.NS

 [4914 rows x 7 columns],
            Date        Open        High         Low       Close  Volume  \
 0    2002-07-01   58.436177   58.857930   55.343324   57.639534    8154
 1    2002-07-02   57.170920   58.576762   57.170920   57.639534    5718
 2    2002-07-03   59.045371   59.513985   56.796022   57.124054    6038
 3    2002-07-04   56.374282   57.452092   56.233696   56.421143    7780
 4    2002-07-05   57.826987   58.108155   56.514866   57.686401   11029
 ...         ...         ...         ...         ...         ...     ...
 4905 2022-03-30  829.750000  846.150024  801.299988  814.049988    4390
 4906 2022-03-31  818.150024  844.849976  808.000000  838.799988    9798
 4907 2022-04-01  843.000000  868.000000  832.400024  854.250000    6379
 4908 2022-04-04  852.000000  909.700012  851.799988  898.200012    7337
 4909 2022-04-05  907.000000  927.000000  898.250000  917.250000   10346

        Symbol
 0     ATFL.NS
 1     ATFL.NS
 2     ATFL.NS
 3     ATFL.NS
 4     ATFL.NS
 ...       ...
 4905  ATFL.NS
 4906  ATFL.NS
 4907  ATFL.NS
 4908  ATFL.NS
 4909  ATFL.NS

 [4910 rows x 7 columns],
            Date        Open        High         Low       Close  Volume  \
 0    2002-07-01    4.161681    4.240951    4.122046    4.221133  192244
 1    2002-07-02    4.256805    4.320221    4.082410    4.116100  366901
 2    2002-07-03    4.231042    4.231042    4.064575    4.076466  196507
 3    2002-07-04    4.090337    4.090337    3.908016    3.925852  241185
 4    2002-07-05    4.062592    4.082410    3.945669    4.026921  376362
 ...         ...         ...         ...         ...         ...     ...
 4906 2022-03-30  113.550003  114.449997  112.500000  112.849998  286935
 4907 2022-03-31  113.449997  113.849998  112.199997  112.699997  351455
 4908 2022-04-01  112.550003  117.199997  112.550003  116.400002  275788
 4909 2022-04-04  118.500000  119.750000  117.099998  119.099998  298860
 4910 2022-04-05  119.500000  120.900002  118.199997  120.199997  325900

              Symbol
 0     BALMLAWRIE.NS
 1     BALMLAWRIE.NS
 2     BALMLAWRIE.NS
 3     BALMLAWRIE.NS
 4     BALMLAWRIE.NS
 ...             ...
 4906  BALMLAWRIE.NS
 4907  BALMLAWRIE.NS
 4908  BALMLAWRIE.NS
 4909  BALMLAWRIE.NS
 4910  BALMLAWRIE.NS

 [4911 rows x 7 columns],
            Date        Open        High         Low       Close  Volume  \
 0    2002-07-01   18.174877   19.213442   18.174877   19.170168    2014
 1    2002-07-02   19.040350   19.473085   19.040350   19.408175    1869
 2    2002-07-03   19.170170   19.473085   19.170170   19.408175    1685
 3    2002-07-04   18.975439   20.381828   18.975439   20.381828    4190
 4    2002-07-05   20.014004   21.420393   20.014004   21.420393    2470
 ...         ...         ...         ...         ...         ...     ...
 4907 2022-03-30  284.750000  291.450012  272.450012  284.350006    1143
 4908 2022-03-31  292.200012  292.200012  273.399994  286.399994    1454
 4909 2022-04-01  284.850006  299.000000  275.149994  287.250000    3635
 4910 2022-04-04  289.700012  294.750000  282.250000  292.399994    2200
 4911 2022-04-05  305.000000  305.000000  283.549988  287.000000    1531

              Symbol
 0     INDIANCARD.NS
 1     INDIANCARD.NS
 2     INDIANCARD.NS
 3     INDIANCARD.NS
 4     INDIANCARD.NS
 ...             ...
 4907  INDIANCARD.NS
 4908  INDIANCARD.NS
 4909  INDIANCARD.NS
 4910  INDIANCARD.NS
 4911  INDIANCARD.NS

 [4912 rows x 7 columns],
            Date         Open         High          Low        Close  Volume  \
 0    2002-07-01   277.273720   281.155548   275.689299   277.828278    1529
 1    2002-07-02   279.887951   280.997065   270.737930   271.490540    1583
 2    2002-07-03   279.571082   279.571082   267.371045   268.836639    2875
 3    2002-07-04   270.936040   272.520462   266.974987   269.510071    4179
 4    2002-07-05   270.579542   276.481521   269.351625   270.975647    2639
 ...         ...          ...          ...          ...          ...     ...
 4906 2022-03-30  4860.000000  4902.000000  4800.000000  4861.049805   15152
 4907 2022-03-31  4850.100098  4892.000000  4835.000000  4849.649902    5114
 4908 2022-04-01  4849.649902  5020.000000  4840.000000  5014.600098   15218
 4909 2022-04-04  5015.850098  5050.000000  5011.000000  5037.700195    3738
 4910 2022-04-05  5050.000000  5149.950195  5050.000000  5102.299805    5385

            Symbol
 0     GILLETTE.NS
 1     GILLETTE.NS
 2     GILLETTE.NS
 3     GILLETTE.NS
 4     GILLETTE.NS
 ...           ...
 4906  GILLETTE.NS
 4907  GILLETTE.NS
 4908  GILLETTE.NS
 4909  GILLETTE.NS
 4910  GILLETTE.NS

 [4911 rows x 7 columns],
            Date        Open        High         Low       Close  Volume  \
 0    2002-07-01   19.643162   21.513940   19.222237   20.344704  147186
 1    2002-07-02   20.718860   20.718860   19.222238   19.456085   54025
 2    2002-07-03   20.017319   20.064090   19.128701   19.409317   55205
 3    2002-07-04   19.877011   20.204397   19.315777   19.456085   32811
 4    2002-07-05   19.783472   21.467173   19.643164   20.672092   82536
 ...         ...         ...         ...         ...         ...     ...
 4909 2022-03-30  341.350006  343.049988  335.250000  336.549988  320685
 4910 2022-03-31  339.700012  343.850006  332.000000  335.000000  509816
 4911 2022-04-01  336.100006  348.000000  336.100006  338.950012  752790
 4912 2022-04-04  340.899994  342.700012  337.000000  337.649994  271638
 4913 2022-04-05  341.850006  341.850006  334.899994  336.899994  964958

            Symbol
 0     EVEREADY.NS
 1     EVEREADY.NS
 2     EVEREADY.NS
 3     EVEREADY.NS
 4     EVEREADY.NS
 ...           ...
 4909  EVEREADY.NS
 4910  EVEREADY.NS
 4911  EVEREADY.NS
 4912  EVEREADY.NS
 4913  EVEREADY.NS

 [4914 rows x 7 columns],
            Date        Open        High         Low       Close    Volume  \
 0    2002-07-01    5.989681    6.054787    5.859471    5.927831     17100
 1    2002-07-02    5.885513    5.989681    5.885513    5.908300     21570
 2    2002-07-03    5.895280    5.973406    5.895280    5.924577      4200
 3    2002-07-04    5.989680    5.989680    5.859470    5.882257     19070
 4    2002-07-05    5.885513    5.989682    5.885513    5.950619      6830
 ...         ...         ...         ...         ...         ...       ...
 4902 2022-03-30  215.000000  221.899994  211.000000  214.550003  17384297
 4903 2022-03-31  215.000000  218.699997  215.000000  216.800003   3307225
 4904 2022-04-01  217.000000  221.500000  216.550003  218.449997   1971730
 4905 2022-04-04  218.500000  220.850006  216.100006  218.050003   1694807
 4906 2022-04-05  219.399994  222.949997  217.600006  220.149994   3620322

              Symbol
 0     TATACOFFEE.NS
 1     TATACOFFEE.NS
 2     TATACOFFEE.NS
 3     TATACOFFEE.NS
 4     TATACOFFEE.NS
 ...             ...
 4902  TATACOFFEE.NS
 4903  TATACOFFEE.NS
 4904  TATACOFFEE.NS
 4905  TATACOFFEE.NS
 4906  TATACOFFEE.NS

 [4907 rows x 7 columns],
            Date        Open         High         Low       Close   Volume  \
 0    2002-07-01  709.278136   714.597722  691.546183  710.164734       76
 1    2002-07-02  762.473740   781.978882  716.370676  781.978882      210
 2    2002-07-03  798.824307   830.741815  762.473811  767.793396      101
 3    2002-07-04  762.473754   815.669597  755.380975  763.360352       74
 4    2002-07-05  771.339803   789.071752  727.009929  749.174866       50
 ...         ...         ...          ...         ...         ...      ...
 4906 2022-03-30  970.000000  1009.200012  960.049988  979.099976  2156521
 4907 2022-03-31  987.950012   992.450012  945.000000  957.849976   900968
 4908 2022-04-01  954.000000   954.450012  892.000000  937.000000  1556034
 4909 2022-04-04  922.150024   945.000000  907.099976  938.599976  1245408
 4910 2022-04-05  930.000000   932.400024  866.849976  875.400024  2478342

         Symbol
 0     RUCHI.NS
 1     RUCHI.NS
 2     RUCHI.NS
 3     RUCHI.NS
 4     RUCHI.NS
 ...        ...
 4906  RUCHI.NS
 4907  RUCHI.NS
 4908  RUCHI.NS
 4909  RUCHI.NS
 4910  RUCHI.NS

 [4911 rows x 7 columns],
            Date         Open         High          Low        Close  Volume  \
 0    2002-07-01    62.863094    63.755676    62.225537    63.670670    8619
 1    2002-07-02    63.755680    64.520749    62.055528    63.160629   10099
 2    2002-07-03    63.330633    64.180708    63.075607    63.458145    2865
 3    2002-07-04    64.180710    65.965868    63.755672    65.668343   14631
 4    2002-07-05    63.798177    72.256426    63.798177    71.108826   63840
 ...         ...          ...          ...          ...          ...     ...
 4906 2022-03-30  6713.000000  6812.950195  6620.000000  6773.549805    7930
 4907 2022-03-31  6809.000000  6895.000000  6735.000000  6862.250000   11408
 4908 2022-04-01  6800.000000  6912.000000  6751.049805  6832.850098    7804
 4909 2022-04-04  6840.000000  6918.450195  6700.000000  6719.299805    6478
 4910 2022-04-05  6800.000000  6800.000000  6484.299805  6563.450195   21082

            Symbol
 0     BLUEDART.NS
 1     BLUEDART.NS
 2     BLUEDART.NS
 3     BLUEDART.NS
 4     BLUEDART.NS
 ...           ...
 4906  BLUEDART.NS
 4907  BLUEDART.NS
 4908  BLUEDART.NS
 4909  BLUEDART.NS
 4910  BLUEDART.NS

 [4911 rows x 7 columns],
            Date        Open        High         Low       Close   Volume  \
 0    1999-04-05   18.715070   19.408220   18.372827   18.836370   365520
 1    1999-04-06   18.628422   18.793045   17.761984   18.793045   384640
 2    1999-04-07   18.195204   18.931677   18.195204   18.286180   197384
 3    1999-04-08   18.182208   18.455135   18.108560   18.346830    37024
 4    1999-04-09   17.978599   18.281853   17.502058   17.636356   166640
 ...         ...         ...         ...         ...         ...      ...
 5752 2022-03-30  779.299988  795.000000  775.900024  793.349976  4407033
 5753 2022-03-31  798.000000  813.000000  798.000000  806.549988  7059986
 5754 2022-04-01  811.000000  829.500000  807.700012  826.549988  3406177
 5755 2022-04-04  818.000000  836.000000  810.000000  833.700012  4163250
 5756 2022-04-05  837.000000  852.000000  833.700012  836.549988  2669229

       Symbol
 0     M&M.NS
 1     M&M.NS
 2     M&M.NS
 3     M&M.NS
 4     M&M.NS
 ...      ...
 5752  M&M.NS
 5753  M&M.NS
 5754  M&M.NS
 5755  M&M.NS
 5756  M&M.NS

 [5757 rows x 7 columns],
            Date         Open         High          Low        Close  Volume  \
 0    2002-07-01    46.653189    51.507278    46.653189    51.507278    3986
 1    2002-07-02    53.394955    56.657982    52.855612    56.657982   12609
 2    2002-07-03    59.219888    59.489559    58.788411    59.489559    3841
 3    2002-07-04    62.482906    62.482906    59.867093    62.482906   18798
 4    2002-07-05    65.260543    65.260543    60.595223    61.188499   16713
 ...         ...          ...          ...          ...          ...     ...
 4898 2022-03-30  1415.099976  1441.949951  1400.099976  1401.349976    1703
 4899 2022-03-31  1408.400024  1434.599976  1372.550049  1384.000000    1479
 4900 2022-04-01  1385.099976  1435.000000  1385.099976  1430.000000    1092
 4901 2022-04-04  1437.150024  1474.000000  1415.750000  1462.800049    3125
 4902 2022-04-05  1470.150024  1479.949951  1415.000000  1445.449951    4914

             Symbol
 0     FOSECOIND.NS
 1     FOSECOIND.NS
 2     FOSECOIND.NS
 3     FOSECOIND.NS
 4     FOSECOIND.NS
 ...            ...
 4898  FOSECOIND.NS
 4899  FOSECOIND.NS
 4900  FOSECOIND.NS
 4901  FOSECOIND.NS
 4902  FOSECOIND.NS

 [4903 rows x 7 columns],
            Date         Open         High          Low        Close  Volume  \
 0    2002-07-01   100.895198   102.724761   100.357090   102.186653    5616
 1    2002-07-02   103.962406   103.962406   101.460209   102.240463    2604
 2    2002-07-03   101.702338   113.298559   101.164231   112.329964   39195
 3    2002-07-04   112.464504   115.504809   110.312073   112.303070   34599
 4    2002-07-05   111.334473   118.302974   111.334473   116.984604   25949
 ...         ...          ...          ...          ...          ...     ...
 4906 2022-03-30  1708.949951  1747.000000  1630.050049  1657.599976  118931
 4907 2022-03-31  1659.349976  1659.349976  1574.000000  1597.650024   38712
 4908 2022-04-01  1600.000000  1669.000000  1599.949951  1646.550049   36839
 4909 2022-04-04  1655.000000  1655.000000  1600.000000  1637.349976   37512
 4910 2022-04-05  1659.000000  1659.000000  1611.300049  1624.699951   25853

             Symbol
 0     INGERRAND.NS
 1     INGERRAND.NS
 2     INGERRAND.NS
 3     INGERRAND.NS
 4     INGERRAND.NS
 ...            ...
 4906  INGERRAND.NS
 4907  INGERRAND.NS
 4908  INGERRAND.NS
 4909  INGERRAND.NS
 4910  INGERRAND.NS

 [4911 rows x 7 columns],
            Date        Open        High         Low       Close   Volume  \
 0    2002-07-01    5.419201    5.419201    5.263648    5.318549    63252
 1    2002-07-02    5.343710    5.462663    5.233908    5.396324   394968
 2    2002-07-03    5.279658    5.318546    5.204169    5.224757   118860

In [26]:
def aggregate(df, frequency):
    df.reset_index(inplace=True)
    df['days'] = 1
    weekly_df = df.resample(frequency, on='Date').agg({'Open':'first','High':'max', 'Low':'min','Close':'last','Volume':'sum'})
    weekly_df['Symbol'] = df['Symbol'].iloc[0]
    return weekly_df

In [34]:
import pandas as pd
import glob

path = r'C:\Users\arushi.roy\Desktop\work1\Task2\Data_800stocks' # use your path
all_files = glob.glob(path + "/*.csv")

li = list()

for filename in all_files:
    df = pd.read_csv(filename)
    df['Date'] = pd.to_datetime(df['Date'])
    df=df.set_index(['Date'])
    weekly_df = aggregate(df, 'W-Fri')
    weekly_df.to_csv("Data_weekly_800stocks/{}".format(filename.split('\\')[-1]),index=True)
    li.append(weekly_df)
    

frame = pd.concat(li, axis=0)

In [28]:
frame

,Open,High,Low,Close,Volume,Symbol
Date,,,,,,
2005-04-22,520.664895,520.664895,423.591779,432.857849,3304177.0,3IINFOLTD.NS
2005-04-29,436.387824,449.007307,407.530609,412.119507,4757708.0,3IINFOLTD.NS
2005-05-06,450.066238,450.066238,409.030847,417.855652,1349423.0,3IINFOLTD.NS
2005-05-13,423.591797,425.356762,412.560766,415.031708,524773.0,3IINFOLTD.NS
2005-05-20,415.649457,451.389990,415.472949,445.036133,3099979.0,3IINFOLTD.NS
...,...,...,...,...,...,...
2022-03-11,1522.000000,1577.949951,1471.000000,1522.599976,206468.0,ZYDUSWELL.NS
2022-03-18,1535.599976,1548.750000,1481.050049,1497.599976,155121.0,ZYDUSWELL.NS
2022-03-25,1492.000000,1527.550049,1460.000000,1475.150024,437235.0,ZYDUSWELL.NS
2022-04-01,1475.150024,1565.000000,1442.050049,1559.599976,248758.0,ZYDUSWELL.NS
2022-04-08,1575.849976,1623.699951,1561.099976,1580.650024,86197.0,ZYDUSWELL.NS